<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.sharethrough.sdk">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application android:allowBackup="true" android:hardwareAccelerated="true">
        <activity android:name=".YoutubeActivity"
                  android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|layoutDirection|uiMode"/>
    </application>
</manifest>
